In [2]:
import csv

In [3]:
csvpath = "departments.csv"
with open(csvpath) as csvfile:
    # CSV reader specifies delimiter and variable that holds contents
    csvreader = csv.reader(csvfile, delimiter=',')
    # Read the header row first (skip this step if there is now header)
    csv_header = next(csvreader)
    print(f"CSV Header: {csv_header}")

CSV Header: ['dept_no', 'dept_name']

```sql
DROP TABLE "departments";
create table "departments"(
    "dept_no" VARCHAR NOT NULL,
    "dept_name" VARCHAR NOT NULL
);

SELECT * FROM "departments";
```

In [4]:
csvpath = "dept_emp.csv"
with open(csvpath) as csvfile:
    # CSV reader specifies delimiter and variable that holds contents
    csvreader = csv.reader(csvfile, delimiter=',')
    # Read the header row first (skip this step if there is now header)
    csv_header = next(csvreader)
    print(f"CSV Header: {csv_header}")

CSV Header: ['emp_no', 'dept_no', 'from_date', 'to_date']

```sql
create table "dept_emp"(
    "emp_no" INT NOT NULL,
    "dept_no" VARCHAR NOT NULL,
    "from_date" DATE NOT NULL,
    "to_date" DATE NOT NULL
);

SELECT * FROM "dept_emp";
```

In [5]:
csvpath = "dept_manager.csv"
with open(csvpath) as csvfile:
    # CSV reader specifies delimiter and variable that holds contents
    csvreader = csv.reader(csvfile, delimiter=',')
    # Read the header row first (skip this step if there is now header)
    csv_header = next(csvreader)
    print(f"CSV Header: {csv_header}")

CSV Header: ['dept_no', 'emp_no', 'from_date', 'to_date']

```sql

create table "dept_manager"(
    "dept_no" VARCHAR NOT NULL,
    "emp_no" INT NOT NULL,
    "from_date" DATE NOT NULL,
    "to_date" DATE NOT NULL
);

SELECT * FROM "dept_manager";
```

In [6]:
csvpath = "employees.csv"
with open(csvpath) as csvfile:
    # CSV reader specifies delimiter and variable that holds contents
    csvreader = csv.reader(csvfile, delimiter=',')
    # Read the header row first (skip this step if there is now header)
    csv_header = next(csvreader)
    print(f"CSV Header: {csv_header}")

CSV Header: ['emp_no', 'birth_date', 'first_name', 'last_name', 'gender', 'hire_date']

```sql

create table "employees"(
    "emp_no" INT NOT NULL,
    "birth_date" DATE NOT NULL,
    "first_name" VARCHAR NOT NULL,
    "last_name" VARCHAR NOT NULL,
    "gender" VARCHAR NOT NULL,
    "hire_date" DATE NOT NULL
);

SELECT * FROM "employees";
```

In [7]:
csvpath = "salaries.csv"
with open(csvpath) as csvfile:
    # CSV reader specifies delimiter and variable that holds contents
    csvreader = csv.reader(csvfile, delimiter=',')
    # Read the header row first (skip this step if there is now header)
    csv_header = next(csvreader)
    print(f"CSV Header: {csv_header}")

CSV Header: ['emp_no', 'salary', 'from_date', 'to_date']

```sql

create table "salaries"(
    "emp_no" INT NOT NULL,
    "salary" INT NOT NULL,
    "from_date" DATE NOT NULL,
    "to_date" DATE NOT NULL
);

SELECT * FROM "salaries";
```

In [8]:
csvpath = "titles.csv"
with open(csvpath) as csvfile:
    # CSV reader specifies delimiter and variable that holds contents
    csvreader = csv.reader(csvfile, delimiter=',')
    # Read the header row first (skip this step if there is now header)
    csv_header = next(csvreader)
    print(f"CSV Header: {csv_header}")

CSV Header: ['emp_no', 'title', 'from_date', 'to_date']

```sql

create table "titles"(
    "emp_no" INT NOT NULL,
    "title" VARCHAR NOT NULL,
    "from_date" DATE NOT NULL,
    "to_date" DATE NOT NULL
);

SELECT * FROM "titles";
```